@{
    ViewData["Title"] = "Criar novo contatos";
}

<h1>Novo Contato</h1>


<br />

<form asp-controller="Contato" asp-action="Criar" method="post">

    <div class="row g-3" method="get" action=".">

        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Nome completo" id="nome">
        </div>

        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Pseudonimo" id="pseudonimo">
        </div>

        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="CPF" id="cpf">
        </div>

    </div>

    <br />

    <div class="row g-3" method="get" action=".">

        <div class="col-sm-2" id="sexo">
            <select class="form-select">
                <option selected>Sexo</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
        </div>

        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Nascimento" id="nascimento">
        </div>

        <div class="col-sm-2" id="filhos">
            <select class="form-select">
                <option selected>Tem filhos?</option>
                <option value="Não">Não</option>
                <option value="Sim">Sim</option>
            </select>
        </div>

        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Profissão" id="profissao">
        </div>

    </div>

    <br />

    <div>

        <div class="row g-3" method="get" action=".">

            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="CEP" name="cep" id="cep" size="10">
            </div>

        </div>

        <br />

        <div class="row g-3" method="get" action=".">

            <div class="col-sm-6">

                <input type="text" class="form-control" placeholder="Logradouro" id="nome">

            </div>

            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Número" id="numero">
            </div>

            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Complemento" id="complemento">
            </div>


            <div class="col-sm-4">
                <input name="bairro" type="text" class="form-control" placeholder="Bairro" id="bairro">
            </div>


            <div class="col-sm-3">
                <input name="cidade" type="text" class="form-control" placeholder="Cidade" id="cidade">
            </div>


            <div class="col-sm-2">
                <input name="uf" type="text" class="form-control" placeholder="UF" id="uf">
            </div>

        </div>

    </div>

    <br />

    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
        <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
    </div>

</form>