@{
    ViewData["Title"] = "Lista de contatos";
}

<br />

<a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar contato</a>

<br />

<div class="text-center">

    <h1>Lista de contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Fone</th>
                <th scope="col">Instagram</th>
                <th scope="col">Twitter</th>
                <th scope="col">Cidade</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>João</td>
                <td>11 98765-0987</td>
                <td>linkInstagram</td>
                <td>linkTwitter</td>
                <td>São José</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Detalhes</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Maria</td>
                <td>11 98765-0987</td>
                <td>linkInstagram</td>
                <td>linkTwitter</td>
                <td>São José</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Detalhes</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jesus</td>
                <td>11 98765-0987</td>
                <td>linkInstagram</td>
                <td>linkTwitter</td>
                <td>São José</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary">Detalhes</a>
                        <a role="button" class="btn btn-danger">Apagar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</div>